html{
    background-color: rgb(49, 114, 114);
    font-size: 16px;
}

body{
    margin: 0;
    text-align: left;
}

.wrapper{
    background-color: rgb(134, 199, 204);
    padding: 10px;
    flex-direction: column;
    align-items: center;
    height: 10vh;
    justify-content: space-around;
    font-size: 15px;
}


.content {
    text-align: left;
    width: 35vh;
}

.map{
    display: flex;
    justify-content: left;
    padding: 15px;
    width: 60vh;
    margin: auto;
}